<!DOCTYPE html>
<html lang="en">
<head>
<title>{{title}}</title>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Material+Icons">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Orbitron">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans">

<link href='{{basepath + "static/css/root.css"}}' rel="stylesheet">
<link href='{{basepath + "static/css/index.css"}}' rel="stylesheet">
<link href='{{basepath + "static/css/font-awesome.min.css"}}' rel="stylesheet">

</head>
<body>
    <div class="main">
        <a href='{{ basepath + "home" }}'><img class="main" src='{{basepath + "static/img/logo.png"}}'></a>
        <div class="subs">
            <a href='{{ basepath + "home" }}'>
                <p>Go</p>
            </a>
        </div>
    </div>
</body>
</html>